<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /x/

    # Rewrite /x/bobi  →  /x/?username=bobi
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^/]+)/?$ index.php?username=$1 [L,QSA]
</IfModule>