html {
  scroll-behavior: smooth;
}
body {
	
 overflow-x: hidden;
}
@font-face {
	font-family: "VoiceInMyHead";
	src: url("voice in my head.otf");
}
.vimh {
	font-family: VoiceInMyHead;
	color: DimGray;
}

@font-face {
	font-family: "Choplin";
	src: url("choplin.otf");
}
.chop {
	font-family: Choplin;
	color: DimGray;
}

@font-face {
	font-family: "Stereofunk";
	src: url("stereofunk.ttf");
}
.stereofunk {
	font-family: Stereofunk;
	color: DimGray;
}

@font-face {
	font-family: "Chiller";
	src: url("chiller.ttf");
}
.chiller {
	font-family: Chiller;
	color: DimGray;
}

@font-face {
	font-family: "Broadway";
	src: url("broadway regular.ttf");
}

.broadway {
	font-family: Broadway;
	color: DimGray;
}

h1{
	color:teal!important;
}
hr.new {
  border: 2px solid cadetblue;
  border-radius: 2px;
}
hr.thin2 {
  border: 1px dashed cadetblue;
  width: 75%;
}
hr.thin3 {
  border: 1px dashed cadetblue;
  width: 72%;
  margin-bottom: 10px;
}
hr.thin {
width: 90%;
  border: 1px solid #5CA595;
}
a
{
	color:teal;text-decoration: none !important;
}
a:hover
{
	color:mediumseagreen;
	text-decoration:none;
}
a:active
{
	color:darkseagreen;
	text-decoration:none;
}
.ls:hover{
	color: lightgreen;
}
.mytile{
	border: solid 1px silver;
	border-left: solid 3px silver;
	border-top-left-radius: 36px;border-bottom-right-radius: 36px;
	border-bottom-left-radius: 36px;
	padding-top:18px;	
	padding-bottom: 2px;
	background: linear-gradient(180deg, AliceBlue 0%, Beige 100%);
}
.mytile2{
	border: solid 1px silver;
	border-left: solid 2px silver;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	background: linear-gradient(180deg, AliceBlue 0%, Beige 100%);
}

.mynavtile-first{
	border: solid 1px silver;
	border-left: solid 3px silver;
	border-top-left-radius: 7px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	display: inline-block;
	width:36px;
	background: linear-gradient(180deg, AliceBlue 0%, Beige 100%);
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}
.mynavtile{
	border: solid 1px silver;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	display: inline-block;
	width:36px;
	background: linear-gradient(180deg, AliceBlue 0%, Beige 100%);
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}
.mynavtile-last{
	border: solid 1px silver;
	border-top-left-radius: 3px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	display: inline-block;
	width:36px;
	background: linear-gradient(180deg, AliceBlue 0%, Beige 100%);
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}

.mynavtile2-first{
	border: solid 1px silver;
	border-left: solid 3px silver;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	display: inline-block;
	width:36px;
	background: linear-gradient(180deg, AliceBlue 0%, Beige 100%);
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}
.mynavtile2{
	border: solid 1px silver;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	display: inline-block;
	width:36px;
	background: linear-gradient(180deg, AliceBlue 0%, Beige 100%);
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}
.mynavtile2-last{
	border: solid 1px silver;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	display: inline-block;
	width:36px;
	background: linear-gradient(180deg, AliceBlue 0%, Beige 100%);
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}
#page-two-one, #page-two-two, #page-one-two, #page-one-one{
	 cursor: pointer;
}

.anim-cname-1
{
	width:90%;
	position:absolute;
	animation-name: example1;
	animation-duration: 0.37s;
	animation-fill-mode: forwards;
}
.anim-cname-2
{
	width:90%;
	position:absolute;
	animation-name: example2;
	animation-duration:0.65s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes example1 {
  0%   { left: 22px; opacity: 1; }
  100% { left: 688px; opacity: 0; display:none; visibility:hidden;}
}
@-moz-keyframes example1 {
  0%   { left: 22px; opacity: 1; }
  100% { left: 688px; opacity: 0; display:none; visibility:hidden;}
}
@-o-keyframes example1 {
  0%   { left: 22x; opacity: 1; }
  100% { left: 688px; opacity: 0; display:none; visibility:hidden;}
}
@keyframes example1 {
  0%   { left: 22px; opacity: 1; }
  100% { left: 688px; opacity: 0; display:none; visibility:hidden;}
}

@-webkit-keyframes example2 {
  0%   { right: 1188px; opacity: 0; }
  100% {  right: 22px; opacity: 1;  display:block; visibility:visible;}  
}
@-moz-keyframes example2 {
 0%   { right: 1188px; opacity: 0; }
  100% {  right: 22px; opacity: 1;  display:block; visibility:visible;}  
}
@-o-keyframes example2 {
 0%   { right: 1188px; opacity: 0; }
  100% {  right: 22px; opacity: 1;  display:block; visibility:visible;}  
}
@keyframes example2 {
  0%   { right: 1188px; opacity: 0; }
  100% {  right: 22px; opacity: 1;  display:block; visibility:visible;}  
}

}